@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.topcontent{
    color:black;
    
}
.topcontent__container{
    position: absolute;
    top: 300px;
    right: 150px;
}
.topcontent__container >p{
    letter-spacing: 1px;
    padding-top: 10px;
    padding-left:3px;
    text-align: left;
}
.topcontent__container >a >button{
    margin-top: 20px;
    text-align: left;
    margin-left: 5px;
    border-radius: 2px;
    outline: none;
    border: none;
    color: white;
    background-color: orangered;
    cursor: pointer;
    font-size: 14px;
    font-family: montserrat;
    font-weight: 300;
    padding: 10px 30px;
}
.topcontent__container>h1{
    font-size: 40px;
    font-family: montserrat;
}
.topcontent__container >a >button:hover{
    color:orangered;
    background-color: white;
    font-weight: 300;
}

